
$root-element: 'awssld';


.#{$root-element} {
  &--scaleOutAnimation {
    --scale-out-scale: 0.85;

    .#{$root-element} {
      &--exit {
        &.#{$root-element}--moveRight,
        &.#{$root-element}--moveLeft {
          animation: scaleOut var(--slider-transition-duration) both
            var(--transition-bezier);
        }
      }
    }
  }
  


  --slider-height-percentage: 100%;
  --slider-width-percentage: 100%;
  --slider-transition-duration: 670ms;
  --organic-arrow-thickness: 6px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #fff;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #f46b34;
  --control-bullet-active-color: #cf5b2c;
  --loader-bar-color: #d7b50f;
  --loader-bar-height: 6px;
  
}

@keyframes scaleOut {
  to {
    transform: scale(var(--scale-out-scale));
  }
}
